html,
body {
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: Noto Sans;
  src: url("/assets/fonts/NotoSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Noto Sans;
  font-style: italic;
  src: url("/assets/fonts/NotoSans-Italic.ttf");
}
@font-face {
  font-family: Noto Sans;
  font-weight: bold;
  src: url("/assets/fonts/NotoSans-Bold.ttf");
}

@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: bold;
  src: url("/assets/fonts/NotoSans-BoldItalic.ttf");
}

/*
  special font for Hebrew
*/
@font-face {
  font-family: Ezra;
  src: url("/assets/fonts/SILEOTSR.ttf");
  font-weight: normal;
  unicode-range: U+0590-05FF;
  font-display: swap;
}


/* set up Charis SIL font */
@font-face {
  font-family: CharisSIL;
  src: url(/assets/fonts/CharisSIL-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: CharisSIL;
  font-style: italic;
  src: url(/assets/fonts/CharisSIL-Italic.ttf);
}
@font-face {
  font-family: CharisSIL;
  font-weight: bold;
  src: url(/assets/fonts/CharisSIL-Bold.ttf);
}

@font-face {
  font-family: CharisSIL;
  font-style: italic;
  font-weight: bold;
  src: url(/assets/fonts/CharisSIL-BoldItalic.ttf);
}

.CharisSIL-text {
  font-family: CharisSIL, Noto Sans;
  font-size: 100%;
}

header {
  z-index: 1;
}

#print-preview, #print-preview-inner {
  background-color: grey;
  width: 100%;
}

#print-preview-inner > * {
  background-color: white;
}

.pagedjs_pages {
  background-color: transparent !important;
}

.pagedjs_page {
  margin: 10px auto;
  background-color: white;
}

.header-title {
  display: none;
}

.cover-page {
  text-align: center;
}

#web-preview {
  max-width: 80%;
  margin: 0 auto;
}

#mapwrapper #show-all-button {
  display: none;
}